################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Vidly_Mvc5/App_Data
/.vs/Vidly_Mvc5/v15/Server/sqlite3/db.lock
