@model IEnumerable<Vidly_Mvc5.Models.Customer>

@{
    ViewBag.Title = "All Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Customers</h2>

@if (Model.ToList().Count == 0)
{
    <span>Sorry! But there are no any customers online now</span>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Customer</th><th>Discount Rate</th>
        </tr></thead>
        <tbody>
                
                @foreach (var customer in Model)
                {

            <tr>
                <td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null);</td>
                <td>@customer.MembershipType.DiscountRate %</td>
            </tr>
                }
        </tbody>
    </table>
        
}
