@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1></h1>
    <p class="lead"></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg" style="background-color:#999999; border-color:#808080">TOP 250 Moviess &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
          
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">OSCAR 2019 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>

        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Rates &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>

        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Movies in theaters now &raquo;</a></p>
    </div>
</div>