@model Vidly_Mvc5.Models.Movie
@{
    ViewBag.Title = "Random Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="">@try
{
    @Model.Name
}

	catch (global::System.Exception)
	{
	    @Html.LabelFor(m => m.Id)
	    throw;
	}
    </h2>

    <ul>
        <li>@Html.ActionLink(Model.Name, "Details", "Movies", new { id = Model.Id }, null)</li>
    </ul>
